<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Notification from Skyline Ivy League</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	</head>
	<body>
<div style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 173000px);word-wrap:break-word;word-break:break-word">
        <div style="border-collapse:collapse;display:table;width:100%;background-color:#ffffff">
        
          <div style="text-align:left;color:#8e8e8e;font-size:14px;line-height:21px;font-family:&quot;PT Sans&quot;,&quot;Trebuchet MS&quot;,sans-serif;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px)">
<h3 style="margin-top:20px;margin-bottom:12px;font-style:normal;font-weight:normal;color:#929292;font-size:16px;line-height:24px;text-align:left"><strong>Hi Member</strong></h3>
<div style="margin-left:20px;margin-right:20px">
						{{{body}}}
    <footer>
				<p style="margin-top:20px;margin-bottom:20px;font-size:12px;line-height:16px;font-family:PT Sans,Trebuchet MS,sans-serif;text-align:center;" lang="x-size-12">2016 &copy; of Skyline IvyLeague Apartments, Edachira, Kakkanad, Kochi.</p>
			</footer> 
</div>
            </div></div></div>
			    
	</body>
</html>
