{{!< default}}
<div class="container">
		<h3>Welcome</h3>
		<p>This is the website for Skyline IvyLeague. I need more content???</p>
		<p> For viewing rental/sale advertisements please visit real estate section.</p>
</div>
