{{!< default}}
<div class="container">
	<div class="something">
		<h1>Welcome</h1>
		<p>This is the website for Skyline IvyLeague. I need more content???</p>
		<p> For viewing rental/sale advertisements please visit real estate section.</p>
        <p> Please <a href="/signin">sign in</a> to view more.</p>
	</div>
</div>
