<p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">Membership acceptance notification.</p>
<p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">Dear 
	{{#if name.first}}
		<strong>{{name.first}} {{name.last}}</strong>,
	{{/if}}
</p>
<p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">Please access the site using the link below:</p>
<p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">
    <a style="text-decoration:underline;color:#b31b1b" href="{{domain}}" target="_blank" label="Reset Password" >Click here.</a>
</p>