<p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;font-weight:bold;" lang="x-size-16">SILOA has published a Minutes of meeting which may warrant your attention</p>
<p style="margin-top:5px;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16"><strong>Subject :</strong> {{name}}</p>
<p style="margin-top:5px;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16"><strong>Meeting held on </strong> {{formatDate meetingDate}}</p>
<p style="margin-top:5px;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">{{{notes}}}</p>
 <p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">
    <a style="text-decoration:underline;color:#b31b1b" href="{{domain}}/minutes" target="_blank" label="Open Minutes" >Open Minutes in the site.</a>
</p>