<p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">You recently requested for a password reset.</p>
<p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">Please reset the password using the link below</p>
<p style="margin-top:0;margin-bottom:0;font-size:16px;line-height:24px;font-family:PT Sans,Trebuchet MS,sans-serif;" lang="x-size-16">
    <a style="text-decoration:underline;color:#b31b1b" href="{{domain}}{{link}}" target="_blank" label="Reset Password" >Reset your password.</a>
</p>