{{!< default}}
		<h3>Forgot your password?</h3>
        <p class="lead">No problem, we'll send you a link to reset it.</p>
        <form method="post" action="/forgotpassword">
		<div class="form-group">
            <input type="email" required class="form-control" placeholder="Please enter your Email" name="email"/>
        </div>
        <input type="hidden" name='action' value='forgot-password'/>
        <div class="form-actions"><button type="submit" class="btn btn-block btn-primary btn-submit  btn-raised">Send reset link</button></div>
        <div class="form-group"> If you are not a member, please apply for membership by <a href="/memberapplication">clicking here</a>.</div>
        </form>