{{!< default}}
<div class="container">
	<div class="something">
		<h1>If you are an existing user please sign in to Ivy League Application</h1>
        <form method="post" action="/signin">
		<p><input type="email" placeholder="Please enter you Email" name="email"/></p>
        <p><input type="password" placeholder="Please enter you Password" name="password"/></p>
        <p> If you are not a member, please apply for membership verification <a href="/memberapplication">here</a>.</p>
        <input type="hidden" name='action' value='signin'/>
        <p> <button type="submit" class=".btn .btn-block .btn-primary .btn-submit">Sign In</button></p>
        </form>
	</div>
</div>