{{!< default}}
<div class="container">
		<h3>If you are an existing user please sign in to Ivy League Application</h3>
        <form method="post" action="/signin">
		<div class="form-group">
            <input type="email" required class="form-control" placeholder="Please enter you Email" name="email"/>
        </div>
        <div class="form-group"><input type="password" required class="form-control" placeholder="Please enter you Password" name="password"/></div>
        <div class="form-group"> If you are not a member, please apply for membership verification <a href="/memberapplication">here</a>.</div>
        <input type="hidden" name='action' value='signin'/>
        <div class="form-actions"><button type="submit" class="btn btn-block btn-primary btn-submit">Sign In</button></div>
        </form>
	</div>
</div>