{{!< default}}
	<h3>Minutes of Meetings held by MC members at IvyLeague</h3>
			{{# each data.minutes}}
            <div class="panel panel-primary">
                <div class="panel-heading"> 
                    <h3 class="panel-title">Subject: {{name}}</h3> 
                </div> 
                <div class="panel-body"> 
                    <h5><strong>Date of meeting:</strong> {{formatDate meetingDate}}</h5>
                    <h5><strong>Meeting Minutes: </strong></h5>
                    <div>{{{notes}}}</div> 
                </div> 
            </div>
            {{/each}}
    {{>pagination}}