{{!< default}}
	<h3>Events at IvyLeague</h3>
			{{# each data.notices}}
            <div class="panel panel-primary">
                <div class="panel-heading"> 
                    <h3 class="panel-title">Subject: {{name}}</h3> 
                </div> 
                <div class="panel-body"> 
                    <h5><strong>Start date of Event:</strong> {{formatDate startDate}}</h5>
                    <h5><strong>End date of Event:</strong> {{formatDate endDate}}</h5>
                    <h5><strong>Notice Description: </strong></h5>
                    <div>{{{description}}}</div> 
                </div> 
            </div>
            {{/each}}
    {{>pagination}}